<p id="notice"><%= notice %></p>
<h1><%= t '.show_title' %></h1>

<p><%= t '.title' %>: <%= @task.title %></p>
<p><%= t '.content' %>: <%= @task.content %></p>
<p><%= t '.deadline' %>: <%= @task.deadline %></p>

<%= link_to t('.Edit'), edit_task_path(@task) %> |
<%= link_to t('.Back'), tasks_path %>
