<div class="table table-responsive" style="width: 36rem;">
<table class="table table-bordered table-hover thead-light">
    <tr>
      <th style="width: 12rem;"><%= t '.user' %></th>
      <td class="table-light"><%= @user.name %></td>
    </tr>
    <tr>
      <th><%= t '.email' %></th>
      <td class="table-light"><%= @user.email %></td>
    </tr>
</table>
</div><!--/table-responsive-->

<%= link_to t('.edit'), edit_admin_user_path(@user) , class: 'btn btn-primary' %>
<%= link_to t('.destroy'), admin_user_path(@user), method: :delete, data: { confirm: t('.confirm') } , class: 'btn btn-secondary' %>
<br>
<br>



<div class="table-responsive">
<table class="table table-striped table-hover">
  <tr>
        <th>
          <%= Task.human_attribute_name :created_at %>
        </th>
        <th>
          <%= Task.human_attribute_name :title %>
        </th>
        <th>
          <%= Task.human_attribute_name :content %>
        </th>
        <th>
          <%= Task.human_attribute_name :status %>
        </th>
        <th>
          <%= Task.human_attribute_name :priority %>
        </th>
        <th>
          <%= Task.human_attribute_name :deadline %>
        </th>
      </tr>
<tbody>
  <% @tasks.each do |task| %>

    <tr>
      <td><%= task.created_at.strftime('%m/%d %R') %></td>
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.human_attribute_enum(:status) %></td>
      <td><%= task.human_attribute_enum(:priority) %></td>
      <td><%= task.deadline %></td>
    </tr>
  <% end %>
</tbody>

</table>

</div>
